<body style="background-color: #ffd202;">
	<div id="mainstart">	
		<h3 class="question start"><%= @question %></h3>
		<div class="button">
			<a class="pass" href="<%= @pass %>"><%= @pass_button %></a>
			<a class="fail" href="<%= @fail %>"><%= @fail_button %></a>
		</div>
	</div>
</body>